@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

.App {
  background-color: #2b2b2b;
  min-height: 100vh;
  color: white;
  font-family: 'Fira Code', monospace;
}
